/**
Focus Colour: #37474F
 */

.root {
    -fx-base: transparent;
    -fx-accent: transparent;
    -fx-default-button: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focused-text-base-color: transparent;
    -fx-focused-mark-color: -fx-focused-text-base-color;
    -fx-font-family: verdana;
    -fx-text-fill: #B0BEC5;
}

Label {
    -fx-text-fill: white;
}

Label, .menu .label {
    -fx-text-fill: #B0BEC5;
}

.error-label {
    -fx-text-fill: #cc0000;
}

MenuBar {
    -fx-background-color: #455A64;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #37474F;
}

BorderPane {
    -fx-background-color: #37474F;
    -fx-stroke: white;
}

.foreground {
    -fx-background-color: #455A64;
}

/* FIXME: canvas Styles arne't working :( */
Canvas {
    -fx-background-color: white;
}

.statusbar {
    -fx-background-color: #263238;
}

/* tabs */

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0; /* Make tab header transparent */
}

.tab {
    -fx-background-color: #263238;
    -fx-padding: 0 30 0 30;

}

.tab:selected {
    -fx-background-color: #455A64;
}

.GizmoPane {
    -fx-base: rgba(255, 255, 255, 0.0); /* Makes sure that ScrollView has no color */
    -fx-accent: rgba(255, 255, 255, 0.0);
    -fx-faint-focus-color: rgba(255, 255, 255, 0.0);
    -fx-background-color: #455A64;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);

}

.tool-bar {
    -fx-background-color: #455A64;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 5, 5);
}

Seperator {
    -fx-stroke: #37474F;
}

/** Hack for changing background colour of ScollPane */
ScrollPane > .viewport {
    -fx-background-color: transparent;

    -fx-base: rgba(255, 255, 255, 0.0); /* Makes sure that ScrollView has no color */
    -fx-accent: rgba(255, 255, 255, 0.0);
    -fx-faint-focus-color: rgba(255, 255, 255, 0.0);
}

/**
-fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
 */

/* Buttons */
Button {
    -fx-background-color: transparent;
}

Button:hover {
    -fx-background-color: #37474F;
}

/* Options bar */
.play-button {
    -fx-background-image: url("/icons/play.png");
}

.load-button {
    -fx-background-image: url("/icons/load.png");
}

.save-button {
    -fx-background-image: url("/icons/save.png");
}

.saveas-button {
    -fx-background-image: url("/icons/save.png");
}

.clear-button {
    -fx-background-image: url("/icons/clear.png");
}

.undo-button {
    -fx-background-image: url("/icons/undo.png");
}

.redo-button {
    -fx-background-image: url("/icons/redo.png");
}

.grid-button {
    -fx-background-image: url("/icons/grid.png");
}

.console-button {
    -fx-background-image: url("/icons/console.png");
}

.settings-button {
    -fx-background-image: url("/icons/settings.png");
}

/* Toolbar */
.add-button {
    -fx-background-image: url("/icons/cursor.png");
}

.connect-button {
    -fx-background-image: url("/icons/connect.png");
}

.move-button {
    -fx-background-image: url("/icons/move.png");
}

.rotate-button {
    -fx-background-image: url("/icons/rotate.png");
}

/* Game bar */
.tick-button {
    -fx-background-image: url("/icons/tick.png");
}

.pause-screen-button {
    -fx-background-image: url("/icons/menu.png");
}

.sound-on-button {
    -fx-background-image: url("/icons/soundon.png");
}

.sound-off-button {
    -fx-background-image: url("/icons/soundoff.png");
}

.game-bar {
    -fx-background-color: rgba(55, 71, 79, 0.5);
}

/* Pause Menu */

.PauseMenu {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}

.exit-game-button {
    -fx-graphic: url("/icons/exit.png");
}

.save-progress-button {
    -fx-graphic: url("/icons/save.png");
}

.load-game-button {
    -fx-graphic: url("/icons/load.png");
}

.back-button {
    -fx-graphic: url("/icons/back.png");
}

.to-editor-button {
    -fx-graphic: url("/icons/editor.png");
}

.stop-button {
    -fx-graphic: url("/icons/stop.png");
}

.default-padding {
    -fx-padding: 16px 16px 16px 16px;
}

.title-font {
    -fx-font: 25px Arial;
}

.no-padding {
    -fx-padding: 0px 0px 0px 0px;
}

.pause-menu-item-padding {
    -fx-padding: 5px 80px 6px 5px;
}

i.pause-menu-font {
    -fx-font: 18px Verdana;
}

.statusbar-padding {
    -fx-padding: 2px 2px 2px 16px;
}

.regular-font {
    -fx-font: 14px Arial;
}

.medium-font {
    -fx-font: 20px Arial;
}

.card-title {
    -fx-font: 15px Arial;
}

/* Options */

.game-option-textbox {
    -fx-background-color: #37474F;
    -fx-text-fill: #B0BEC5;
}

/* Connection */

.regular-button {
    -fx-text-fill: #B0BEC5;
    -fx-background-color: #37474F;
}

.regular-button:hover {

}

#topToolbar VBox {
    -fx-padding: 0px 5px 0px 5px;
}

ColorPicker, ComboBox {
    -fx-background-color: #37474F;
    -fx-text-fill: #B0BEC5;
}