Label, .menu .label {
    -fx-text-fill: white;
}

MenuBar {
    -fx-background-color: #263238;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #37474F;
}

BorderPane {
    -fx-background-color: #37474F;
    -fx-stroke: white;
    -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

Canvas {
    -fx-background-color: white;
}

.statusbar {
    -fx-background-color: #263238;
}

ToolBar, .GizmoPane {
    -fx-background-color: #607D8B;
    -fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.8), 10,0,5,5 );
}

ToolBar Button {
    -fx-background-color: none;
}

Seperator {
    -fx-stroke: #37474F;
}

/** Hack for changing background colour of ScollPane */
ScrollPane > .viewport {
    -fx-background-color: transparent;
}

/**
-fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
 */