/**
Focus Colour: #37474F
 */

.root {
    -fx-base: transparent;
    -fx-accent: transparent;
    -fx-default-button: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focused-text-base-color: transparent;
    -fx-focused-mark-color: -fx-focused-text-base-color;
    -fx-font-family: verdana;
}

Label {
    -fx-text-fill: white;
}

Label, .menu .label {
    -fx-text-fill: #B0BEC5;
}

MenuBar {
    -fx-background-color: #455A64;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #37474F;
}

BorderPane {
    -fx-background-color: #37474F;
    -fx-stroke: white;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

/* FIXME: canvas Styles arne't working :( */
Canvas {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.statusbar {
    -fx-background-color: #263238;
}

/* tabs */

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0; /* Make tab header transparent */
}

.tab {
    -fx-background-color: #263238;
    -fx-padding: 0 30 0 30;

}

.tab:selected {
    -fx-background-color: #455A64;
}

.GizmoPane {
    -fx-base: rgba(255, 255, 255, 0.0); /* Makes sure that ScrollView has no color */
    -fx-accent: rgba(255, 255, 255, 0.0);
    -fx-faint-focus-color: rgba(255, 255, 255, 0.0);
    -fx-background-color: #455A64;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);

}

.tool-bar {
    -fx-background-color: #455A64;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 5, 5);
}

Seperator {
    -fx-stroke: #37474F;
}

/** Hack for changing background colour of ScollPane */
ScrollPane > .viewport {
    -fx-background-color: transparent;

    -fx-base: rgba(255, 255, 255, 0.0); /* Makes sure that ScrollView has no color */
    -fx-accent: rgba(255, 255, 255, 0.0);
    -fx-faint-focus-color: rgba(255, 255, 255, 0.0);
}

/**
-fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
 */

/* Buttons */
Button {
    -fx-background-color: transparent;
}

Button:hover {
    -fx-background-color: #37474F;
}

/* Options bar */
.play-button {
    -fx-background-image: url("/assets/icons/play.png");
}

.load-button {
    -fx-background-image: url("/assets/icons/load.png");
}

.save-button {
    -fx-background-image: url("/assets/icons/save.png");
}

.saveas-button {
    -fx-background-image: url("/assets/icons/save.png");
}

.clear-button {
    -fx-background-image: url("/assets/icons/clear.png");
}

.undo-button {
    -fx-background-image: url("/assets/icons/undo.png");
}

.redo-button {
    -fx-background-image: url("/assets/icons/redo.png");
}

.grid-button {
    -fx-background-image: url("/assets/icons/grid.png");
}

.console-button {
    -fx-background-image: url("/assets/icons/console.png");
}

/* Toolbar */
.add-button {
    -fx-background-image: url("/assets/icons/cursor.png");
}

.connect-button {
    -fx-background-image: url("/assets/icons/connect.png");
}

.select-button {
    -fx-background-image: url("/assets/icons/select.png");
}

.rotate-button {
    -fx-background-image: url("/assets/icons/rotate.png");
}

/* Game bar */
.tick-button {
    -fx-background-image: url("/assets/icons/tick.png");
}

.pause-screen-button {
    -fx-background-image: url("/assets/icons/menu.png");
}

.game-bar {
    -fx-background-color: rgba(55, 71, 79, 0.5);
}

/* Pause Menu */

.PauseMenu {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}

.exit-game-button {
    -fx-graphic: url("/assets/icons/exit.png");
}

.save-progress-button {
    -fx-graphic: url("/assets/icons/save.png");
}

.load-game-button {
    -fx-graphic: url("/assets/icons/load.png");
}

.back-button {
    -fx-graphic: url("/assets/icons/back.png");
}

.to-editor-button {
    -fx-graphic: url("/assets/icons/editor.png");
}

.stop-button {
    -fx-graphic: url("/assets/icons/stop.png");
}

